$MAX_MOBILE_WIDTH: '768px';

:root {
    --text-gap: 1rem;

    font-family: Helvetica, system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #333;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p {
    margin: 0;
}

p {
    margin-bottom: var(--text-gap);
}

p:last-of-type {
    margin-bottom: 0;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #747bff;
}

h1 {
    background-color: yellow;
    font-size: 2rem;
    line-height: 1.1;
}